<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Trekking App</title>
</head>
<body>
    <div class="dashboard-wrapper">
        <aside class="sidebar">
            <a href="{{ url_for('admin_dash') }}">Dashboard</a>
            <a href="{{ url_for('admin_manage_trek') }}" >Treks</a>
            <a href="{{ url_for('admin_staff') }}">Staff</a>
            <a href="{{ url_for('admin_users') }}">Users</a>
            <a href="{{ url_for('admin_bookings') }}">Bookings</a>
            <a href= "{{ url_for('admin_search') }}">Search</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </aside>
        
        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>