<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Trekking App</title>
</head>
<body>
    <div class="dashboard-wrapper">
        <aside class="sidebar">
            <a href="{{ url_for('user_dashboard') }}" class="nav-item">Dashboard</a>
            <a href="{{ url_for('user_treks') }}" class="nav-item">Treks</a>
            <a href="{{ url_for('logout') }}" class="nav-item">Logout</a>
        </aside>
        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>